html,body{
    height:100%;
    margin:0;
    padding:0;
    text-align:center;
    background-repeat: repeat-y;
    
}
.panel{
   height:100% 
}
#panel-1{
    background: rgb(12,110,50);
    background: linear-gradient(90deg, rgba(12,110,50,1) 0%, rgba(142,11,11,1) 100%);;
    height:100%;
}
#panel-2{
    background: darkred;
    height:100%;
}
#panel-3{
    background: darkgreen;
}
button{
    padding:10px;
}
button:hover{
    cursor:pointer;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
  }
  
  .button1 {background-color: darkgreen;} 
  .button2 {background-color:darkred;} 
 

/*
=================================================
TYPOGRAPHY
=================================================
*/
h1{
    margin:0;
    padding: 15px;
    font-family: 'Press Start 2P', sans-serif;
    font-size:34px;
}
h2{
    margin:0;
    padding: 15px;
    font-family: 'Audiowide', sans-serif;
    font-size:25px;
    color: green;
}
h3{
    margin:0;
    padding: 15px;
    font-family:'Righteous', sans-serif;
    font-size:25px;
    color: blue;
}
h4{
    margin:0;
    padding: 15px;
    font-family:'Teko', sans-serif;
    font-size:25px;
    color: mediumslateblue;
}
h5{
    margin:0;
    padding: 15px;
    font-family:'Press Start 2P', sans-serif;
    font-size:25px;
    color: yellow;
}
h6{
    margin:0;
    padding: 15px;
    font-family:'Rubik Glitch', sans-serif;
    font-size:25px;
    color: rgb(199, 69, 243);
}


/*
=================================================
AUDIO
=================================================
*/
audio{
    width:100%;
    max-width:600px;
    padding:15px;
}